<html>
<body style="word-wrap: break-word; -webkit-nbsp-mode: space; -webkit-line-break: after-white-space; ">
Hi <%= @attendee.name %><br><br>Thanks for registering for Trampoline on <b><%= next_event.happens_on.to_s(:ordinal_date_and_month) %></b>!<br><br>
<%- unless @attendee.invited? || all_released? -%>
<%- if @attendee.inviting? -%>
We've also sent an email to <%= @attendee.invite_email %> to see if they'd like to come along as well - just as you&nbsp;asked. If they don't, then you'll want to send on this special one-use-only registration link to someone else:<br><br><a href="http://trampolineday.com<%= accept_path(@attendee.invite_code) %>">http://trampolineday.com<%= accept_path(@attendee.invite_code) %></a><br><br>Please pass it on to someone who <b>hasn't been to a Trampoline before</b>! Make sure they register <b>before <%= next_event.excess_at.to_s(:ordinal_date_and_month) %></b>,&nbsp;otherwise we might offer their place to the waiting list.<br><br>
<% else %>
Because you've registered nice and early, we've given you a second registration ticket that we'd like you to give to someone who hasn't been to a Trampoline before. You should send the following link to that friend, so we can ensure their place at Trampoline is reserved.
<br><br>
<a href="http://trampolineday.com<%= accept_path(@attendee.invite_code) %>">http://trampolineday.com<%= accept_path(@attendee.invite_code) %></a><br><br>
Make sure they register before <%= next_event.excess_at.to_s(:ordinal_date_and_month) %>, otherwise we might offer their place to the waiting list.<br><br>
<% end %>
<% end %>
We'll be in touch before the event starts, but please keep in mind that we'll be starting at 9am, and wrapping&nbsp;the day up at 6pm. Trampoline will be happening at the wonderful Circus Oz, in Port Melbourne at&nbsp;<a href="http://goo.gl/maps/T2HX">40 Bay Street</a>.<br><br>If it turns out you cannot make it, please let us know (by replying to this email), because we'd like to fit as&nbsp;many people as possible in on the day.<br><br>Looking forward to seeing you on Sunday <%= next_event.happens_on.to_s(:ordinal_date_and_month) %>!<br><br>Peace, love and sticky rice<br><br>--&nbsp;<br><%= team_string %><br>Trampoline<br><div><br></div></body></html>