.register
  %h2 Next Event
  - if Event.upcoming?
    %h3= next_event.city
    %dl
      %dt When
      %dd= next_event.happens_on.to_s(:day_and_date)
      %dt Where
      %dd= next_event.venue
      - if !next_event.on_sale?
        %dt Tickets
        %dd= next_event.release_at.to_s(:date_with_hour)
    - if next_event.on_sale?
      - if !next_event.sold_out?
        %a{:href => register_path} Register
      - elsif !next_event.initial_sold_out?
        %span Sold Out!
        != link_to "Join the waiting list", new_waiting_list_path
      - else
        %span Sold Out!
        %dl
          %dt More Tickets
          %dd= next_event.excess_at.to_s(:date_with_hour)
  - else
    %h3 To Be Announced - Watch This Space!

.mailing-list
  %h2 Mailing List
  %p To be sent official announcements regarding future Trampolines from the team, make sure you're on our announcements mailing list:
  != render :partial => 'subscribers/form'

.follow
  %h2 Follow Trampoline
  %ul
    %li.flickr
      %a(href="http://www.flickr.com/groups/trampolineday/" target="_blank") Flickr
    %li.vimeo
      %a(href="http://vimeo.com/channels/trampolineday" target="_blank") Vimeo
    %li.twitter
      %a(href="http://twitter.com/trampolineday" target="_blank") Twitter
    %li.google
      %a(href="http://groups.google.com/group/trampoline-melb/" target="_blank") Google Group

.past-events
  %h2 Past Events
  %ul#previous
    - Event.past.each do |event|
      %li
        = event.happens_on.to_s(:long_ordinal)
        &mdash;
        = event.city

.sponsors
  %h2 Many Thanks To...
  %ul
    %li
      %a(href="http://www.circusoz.com/")
        %img(src="/images/circusoz.png" title="Circus Oz")
    %li
      %a(href="http://www.ai-media.tv")
        %img(src="/images/ai_media.jpg" title="AI Media")
    %li
      %a(href="http://www.ergoconsulting.com.au")
        %img(src="/images/ergo.png" title="Ergo Consulting")
    %li
      %a(href="http://webdirections.org")
        %img(src="/images/web_directions.png" title="Web Directions")
    %li
      %a(href="http://www.nodecity.com")
        %img(src="/images/nodecity.png" title="Nodecity")
    %li
      %a(href="http://www.lantern.org.au")
        %img(src="/images/lantern.jpg" title="Lantern")
