- Event.next_and_upcoming.each do |event|
  .register
    %h2 Next Event
    %h3= event.city
    %dl
      %dt When
      %dd= event.happens_on.to_s(:day_and_date)
      %dt Where
      %dd= event.venue
      - if !event.on_sale?
        %dt Tickets
        %dd= event.release_at.to_s(:date_with_hour)
    - if event.on_sale?
      - if !event.sold_out?
        %a{:href => event_register_path(event)} Register
      - elsif !event.initial_sold_out?
        %span Sold Out!
        != link_to "Join the waiting list", new_event_waiting_list_path(event)
      - else
        %span Sold Out!
        %dl
          %dt More Tickets
          %dd= event.excess_at.to_s(:date_with_hour)

- if Event.next_and_upcoming.count.zero?
  .register
    %h2 Next Event
    %h3 To Be Announced - Watch This Space!

.mailing-list
  %h2 Mailing List
  %p To be sent official announcements regarding future Trampolines from the team, make sure you're on our announcements mailing list:
  != render :partial => 'subscribers/form'

.follow
  %h2 Follow Trampoline
  %ul
    %li.flickr
      %a(href="http://www.flickr.com/groups/trampolineday/" target="_blank") Flickr
    %li.vimeo
      %a(href="http://vimeo.com/channels/trampolineday" target="_blank") Vimeo
    %li.twitter
      %a(href="http://twitter.com/trampolineday" target="_blank") Twitter
    %li.google
      %a(href="http://groups.google.com/group/trampoline-melb/" target="_blank") Google Group

.past-events
  %h2 Past Events
  %ul#previous
    - Event.past.each do |event|
      %li
        = event.happens_on.to_s(:long_ordinal)
        &mdash;
        = event.city

.sponsors
  %h2 Many Thanks To...
  %ul
    %li
      %a(href="http://www.circusoz.com/")
        %img(src="/images/circusoz.png" title="Circus Oz")
    %li
      %a(href="http://oxfordstdesignstore.com.au")
        %img(src="/images/oxford-design.png" title="Oxford St Design Store")
    %li
      %a(href="http://fishburners.org")
        %img(src="/images/fishburners.png" title="Fishburners")
    %li
      %a(href="http://webdirections.org")
        %img(src="/images/web_directions.png" title="Web Directions")
    %li
      %a(href="http://www.ergoconsulting.com.au")
        %img(src="/images/ergo.png" title="Ergo Consulting")

