- Event.next_and_upcoming.each do |event|
  .register{:id => "event-#{event.id}"}
    %h2 Next Event
    %h3= event.city
    - if event.city == 'Adelaide' && event.id == 15
      %dl
        %dt When
        %dd= event.happens_on.to_s(:day_and_date_and_year)

      %p Ticket sales have closed for this event. Please contact <a href="mailto:shellomatic@hotmail.com">Shelley</a> for more information or if you're keen to attend.
    - else
      %dl
        %dt When
        %dd= event.happens_on.to_s(:day_and_date_and_year)
        %dt Time
        %dd 10:00AM to 4:00PM
        %dt Where
        %dd= event.venue
        - if !event.on_sale?
          %dt Tickets
          %dd= event.release_at.to_s(:date_with_hour)
      - if event.on_sale?
        - if event.ticket_url.present?
          %a.btn{:href => event.ticket_url} Register
        - elsif !event.sold_out?
          %a.btn{:href => event_register_path(event)} Register
        - elsif !event.initial_sold_out?
          %span Sold Out!
          != link_to "Join the waiting list", new_event_waiting_list_path(event), :class => 'btn'
        - else
          %span Sold Out!
          %dl
            %dt More Tickets
            %dd= event.excess_at.to_s(:date_with_hour)

- if Event.next_and_upcoming.count.zero?
  .register
    %h2 Next Event
    %h3 To Be Announced - Watch This Space!

.mailing-list
  %h2 Mailing List
  %p To be sent official announcements regarding future Trampolines from the team, make sure you're on our announcements mailing list:
  != render :partial => 'subscribers/form'

.follow
  %h2 Follow Trampoline
  %ul
    %li.twitter
      %a(href="http://twitter.com/trampolineday" target="_blank") Twitter
    %li.facebook
      %a(href="https://www.facebook.com/groups/trampolineevents/" target="_blank") Facebook
    %li.flickr
      %a(href="http://www.flickr.com/groups/trampolineday/" target="_blank") Flickr
    %li.vimeo
      %a(href="http://vimeo.com/channels/trampolineday" target="_blank") Vimeo

.past-events
  %h2 Past Events
  %ul#previous
    - Event.past.each do |event|
      %li
        = event.happens_on.to_s(:long_ordinal)
        &mdash;
        = event.city

.sponsors
  %h2 Many Thanks To Our Supporters &amp; Sponsors

  %h3 Melbourne
  %ul
    %li
      %a(href="http://donkeywheelhouse.org")
        %img(src="/images/dwh.png" title="donkey wheel house")
    %li
      %a(href="http://www.kinfolk.org.au")
        %img(src="/images/kinfolk.png" title="Kinfolk")
    %li
      %a(href="http://www.powershop.com.au")
        %img(src="/images/powershop.png" title="Powershop")

  %h3 Sydney
  %ul
    %li
      %a(href="http://cocreatinghubsydney.tumblr.com")
        %img(src="/images/hub-sydney.jpg" title="Hub Sydney")
  -#   %li
  -#     %a(href="http://fishburners.org")
  -#       %img(src="/images/fishburners.png" title="Fishburners")
  -#   %li
  -#     %a(href="http://knowledgebird.com")
  -#       %img(src="/images/knowledge-bird.png" title="Knowledge Bird")
