%h2 Register for Trampoline #{ event.city }

- if !(attendee.invited? || event.excess_on_sale?)
  %p You can book your spot at Trampoline by filling out this form. It costs $10 (we need to cover our costs), and places are limited, so please register promptly!

  %p When you register, you will be given a special website link for someone else to register as well for free (two tickets for the price of one). We would like you to give this link to someone who <strong>hasn't been to Trampoline before</strong> - ideally, someone who works in a different field to yourself.

  %p If you know right now who you want to invite, give us their email address, and we'll send them the invitation and website link directly.

  %p This is to ensure that Trampoline attendees continue to have a fantastic mix of interests and expertise - it's this mix that makes it such a great event!
- elsif attendee.invited?
  %p You can book your spot at Trampoline by filling out this form. There is <strong>no cost</strong> for you to attend the event with this special invite - but places are limited, so please register promptly!
- else
  %p You can book your spot at Trampoline by filling out this form. It costs $10 (we need to cover our costs), and places are limited, so please register promptly!

= semantic_form_for [event, attendee] do |f|
  = hidden_field_tag :waiting_code, params[:waiting_code]
  = f.inputs do
    = f.input :name
    = f.input :email, :label => 'Email Address', :hint => "Just to contact you about this event - nothing else, and definitely no spam."
    = f.input :phone, :label => 'Phone Number', :hint => "Not essential, but just in case we need to get in touch quickly."
    - if invite.nil? && !event.excess_on_sale?
      = f.input :invite_email, :label => 'Invitation Email Address', :hint => "You can invite someone who hasn't been to Trampoline before for free. If you know right now who they are, enter their email address here. If not, we'll give you a link later for the same purpose."
    = f.input :referral_code, :as => :hidden
  = f.actions do
    = f.action :submit, :label => "Continue"
