%p You can book your spot at Trampoline by filling out this form. There is <strong>no cost</strong> to attend the event - but places are limited, so please register promptly!

- unless @attendee.invited?
  %p When you register, you will be given a special website link for someone else to register as well. We would like you to give this link to someone who <strong>hasn't been to Trampoline before</strong> - ideally, someone who works in a different field to yourself.
  
  %p If you know right now who you want to invite, give us their email address, and we'll send them the invitation and website link directly.
  
  %p This is to ensure that Trampoline attendees continue to have a fantastic mix of interests and expertise - it's this mix that makes it such a great event!

- semantic_form_for @attendee do |f|
  - f.inputs do
    != f.input :name
    != f.input :email, :label => 'Email Address', :hint => "Just to contact you about this event - nothing else, and definitely no spam."
    != f.input :phone, :label => 'Phone Number', :hint => "Not essential, but just in case we need to get in touch quickly."
    - unless @attendee.invited?
      != f.input :invite_email, :label => 'Invitation Email Address', :hint => "You can invite someone who hasn't been to Trampoline before. If you know right now who they are, enter their email address here. If not, we'll give you a link later for the same purpose."
    != f.input :referral_code, :as => :hidden
  - f.buttons do
    != f.commit_button 'Register'
