!!!
%html
  %head
    %meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    %title Trampoline
    != stylesheet_link_tag 'http://yui.yahooapis.com/3.1.0/build/cssreset/reset-min.css', 'formtastic', 'application', 'formtastic_changes'
    %link{ :href => "/favicon.ico", :rel => "Shortcut Icon" }/
    = csrf_meta_tag
  %body
    #header
      %h1!= link_to 'Trampoline', '/'
      %p Come and share what you find amazing
    .section#content!
      .section.main!= yield
      #aside!= render :partial => 'shared/aside'
    != javascript_include_tag 'jquery-1.4.2.min.js', 'modernizr-1.6.min.js'
    != javascript_include_tag 'application'
  %script
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  %script
    try {
    var pageTracker = _gat._getTracker("UA-2475317-10");
    pageTracker._trackPageview();
    } catch(err) {}
  .emissions
    %p Emission Estimate: #{ emission_estimate.inspect }
    %p Total Footprint: #{ number_with_delimiter number_with_precision(total_footprint, :precision => 4) }kgCO<sub>2</sub>e
